body{
    height: 100%;
    width: 100%;
    background: #f9ffc4;
    margin: 0px;
    padding: 0px;
    font-family: Segoe UI;
    color: #000000;
}

.logo{
    height: 20%;
    width: 20%;
    margin: 10% 40% 0 40%;
}

p{
    font-size: 55px;
    text-align: center;
    margin-top: 0%;
}

.form{
 text-align: center;
 margin-top: 15%;
}

.btnBuscar{
    background: #ec964f;
    color: #000000;
    border-radius: 10px;
    border: none; 
    height: 25px;
    width: 20%;
    margin-top: 20px;
}

.ImgCentral{
    width: 40%;
    height: 30%;
    margin-left: 45%;
    margin-top: 5%;
}

#lugares{
    font-size: 25px;
    width: 100%;
    height: 10px;
    text-align: center;
}
.map{
    background: #000000;
}